body{
    background-color: lightpink;
}
.main{
    width: 300px;
    height: 600px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    border: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.noch{
    width: 150px;
    height: 25px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 80px;
    background-color: hsl(264, 100%, 61%);
    border-radius: 10px;
}