body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: hsl(0, 0%, 95%);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    overflow: hidden;
    border-radius: 10px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    flex: 2;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
    flex: 2;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
    flex: 2;
}
button{
    border-radius: 100px;
    width: 130px;
    height: 40px;
    border: 0;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: "fadil1";
    font-weight: 100px;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "fadil2";
    font-weight: 400px;
}
.sedans button{
    color: hsl(31, 77%, 52%);
}
.suvs button{
    color: hsl(184, 100%, 22%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
}
.sedans button:hover{
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    border:1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.suvs button:hover{
    cursor: pointer;
    background-color: hsl(184, 100%, 22%);
    border:1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.luxury button:hover{
    cursor: pointer;
    background-color: hsl(179, 100%, 13%);
    border:1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@font-face {
    font-family: "fadil1";
    src: url(fonts--/Big_Shoulders/static/BigShoulders-Regular.ttf);
}
@font-face {
    font-family: "fadil2";
    src: url(fonts--/Lexend_Deca/static/LexendDeca-Regular.ttf);
}