@font-face {
    font-family: "fadil";
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
}

body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fadil";
}

.all{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.num1{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num2{
    width: 50%;
    background-color: pink;
    height: 100%;
}

.p1{
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}
.circ{
    background-color: pink;
    text-align: center;
    width: 40%;
    height: 50%;
    border-radius: 100%;
    padding: 10px;
}
.circ .a1{
    font-size: 40px;
    font-weight: 700;
    color: white;
    line-height: 0;

}
.circ .a2{
    color: hsl(241, 100%, 89%);
    line-height: 0;
    font-size: 20px;
}