body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.main img{
    width: 100%;
    border-radius: 10px;

}
.main{
    background-color: white;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    line-height: 30px;
}
h1{
    font-family: "fadil";
    font-weight: 599;
}
.nutrition1{
    display: flex;
}
.nutrition1 div{
    width: 50%;
}
.nutrition1 div p{
    padding: 0 20px;
}
.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 5px 20px;
}
.preparation  p{
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 20px;
}
h2{
    color: hsl(14, 45%, 36%);
}

@font-face {
    font-family: fadil;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: fadil2;
    src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
}

.main :not(h1){
    font-family: "fadil2";
}

.main .omlete :not(h1){
    color: hsl(30, 10%, 34%);
}
.main .preparation :not(p){
    color: hsl(30, 10%, 34%);
}
.main .ingredients :not(h2){
    color: hsl(30, 10%, 34%);
}
.main .instructions :not(h2){
    color: hsl(30, 10%, 34%);
}
.main .nutrition .n{
    color: hsl(30, 10%, 34%);
}